
.bg{
    background-color: red;
    color: #000;
    font-weight: 600px;
    text-align: center;
    width: 100% !important;
    display: flex;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
.col-sm{
    padding:0;
}